.cabecalho__menu-hamburger{
       width: 35px;
       height:35px;
       background-image: url("menu-hamburger.png");
       background-repeat: no-repeat;
       background-position: center;
       display:inline-block;
       margin: 0px 0px 0px 10px;
}

.cabecalho{
       
       background-color: var(--cor-de-fundo);
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: relative; /** permite inserir outros atributos a botar pra cima pra baixo **/
       width: -880px;
}
.container{
       display: flex;
       align-items: center;
       background-color: var(--cor-de-fundo);
}

.container_imagem{
       padding: 1em;
       text-align: center;
       width: 80px;
       
      
}.Logo-reino{
       width: 85px;
       margin: 0px 0px 0px 15px;
}
.welcome{
       width: 80px;
       margin: 0px 0px 0px -50px;
}

.tamanho_logo,.acesso{
       width: 35px;
       
       
}
.lista-menu{
       display: none;
       position: absolute; /** determina quem vem antes de depois da posição do menu **/
       top: 84%; /* serve para descer a lista do menu */
       width: 30vw;
       margin: 0px 0px 0px -40px;
       list-style-type: none;
       background-color: var(--Cor-de-fundo);
}

.container__botao:checked~ .lista-menu{
       display: block; /** o ~ usado serve como condicionador ***/
}

 .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
       color: var(--laranja);
       font-weight: 600;
	   text-decoration:none;
	   text-transform: uppercase;
	   margin: 0px 0px 0px 10.1px;
} 

.lista-menu__link{
       color: var(--preto);
       -webkit-background-clip: text;
       -webkit-animation-fill-color:transparent;
       background-clip: text;
       text-transform: uppercase;
       text-decoration: none;
}

.container__botao{
       display: none;
}

.Volunteers{
	background-color:#a6c0bf;
	border-radius: 50px;
	text-align:center;
	align-items:center;
	color: white;
	line-height: 3.2;
	box-shadow: blue;
	text-decoration:none;
	margin: 0px 100px 0px 100px;
	
}
.button{
	
	text-decoration:none;
	border-radius: 5px;
	text-align:center;
	color:white;
	display:inline-block;
	font-size:16px;
	margin: 4px 2px;
	
	
}
.bnt1{
	background-color:white;
	color:black;
	border-radius: 5px;
	text-decoration: none;
	margin: 3px 8px;
	cursor:pointer;
	display:inline-block;
}
.bnt1:hover{
	background-color:#a6c0bf;
}
.form{
       display: inline-table;
       text-align: center;
       font-size: large;
}
.form label{
       display: inline-flexbox;
       text-align: center;
}
.form input{

       margin: 0px 8px 0px 11px;
       border-radius: 5px;
       text-align: center;
       size: 50px;
       
       
       
}
.escolha{
       padding: 2px 2px;
}
.h2{
       border:2px #fff;
       
}
.button-submition{
       width: 75px;
       background-color: rgb(222, 222, 231);
       
}
